.main {
    display: grid;
    grid-template-columns: 100%;
    column-gap: .5rem;
    padding-left: var(--width);
    padding-right: var(--width);
    margin: 0 .5rem 0 .5rem;
}

.main__section:nth-child(1) {
    background-image: url("../img/IMG_20230517_221251.jpg");
}

.main__section:nth-child(odd) {
    background-color: #ECECEC;
}

.main__section-image {
    width: 12.5rem;
    margin: 1.5rem;
    border-radius: 50%;
    border: .25rem solid #D1D1D1;
}

.main__section-title {
    width: 80%;
    border-bottom: .125rem solid #D1D1D1;
}

.main__section-title--font {
    font-size: 3rem;
    font-weight: 600;
    border-bottom: unset;
}

.main__section-subtitle {
    width: 85%;
    border-bottom: .0625rem solid #D1D1D1
}

.main__section-subtitle--font {
    font-size: 2rem;
    font-weight: 400;
    border-bottom: unset;
}

.main__section-title,
.main__section-subtitle {
    margin-top: 1rem;
}

.main__section-list {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.main__section-list-item--padding {
    padding-top: 1rem;
}

.main__section-list-item--icon {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.main__section-list-item--icon::before {
    font-family: "Font Awesome 6 Free";
    font-size: .875rem;
    font-weight: 900;
    color: #6F7378;
}

.main__section-list-item--icon:nth-child(1)::before {
    content: "\f015";
}

.main__section-list-item--icon:nth-child(2)::before {
    content: "\f3ce";
}

.main__section-list-item--icon:nth-child(3)::before {
    content: "\f0e0";
}

.main__section-list-item--icon:nth-child(4)::before {
    content: "\f0b1";
}

.main__section-link {
    font-weight: 700;
    color: #5A5E62;
}

.main__section-link::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: .875rem;
    padding-left: .625rem;
    padding-right: .0625rem;
    content: "\f08e";
    opacity: .4;
}

.main__section-link--display-flex {
    display: flex;
}

.main__section-blockquote {
    color: #333333;
    border-left: .0625rem solid #5A5E62;
    margin: 0;
    padding-left: .625rem;
}

.main__section-code {
    font-family: 'Raleway', sans-serif;
    font-size: .875rem;
    border: .0625rem solid #AAAAAA;
    border-radius: .25rem;
    background-color: #FFFFFF;
    color: #000000;
    padding: .25rem;
    line-height: 2.3;
    white-space: nowrap;
}

.main__section-code--font,
.main__section-link--font {
    font-weight: initial;
    color: black;
}

@media print,
screen and (min-width: 1024px) {
    .main {
        grid-template-columns: 60% 40%;
        grid-template-rows: repeat(6, auto);
    }

    .main__section:nth-child(odd) {
        background-color: unset;
    }

    /*grid-area: fila_inicio / columna_inicio / fila_fin / columna_fin;*/

    .main__section:nth-child(1) {
        grid-area: 1 / 2 / 2 / 3;
    }

    .main__section:nth-child(2) {
        grid-area: 1 / 1 / 2 / 2;
    }

    .main__section:nth-child(3) {
        grid-area: 2 / 2 / 3 / 3;
    }

    .main__section:nth-child(4) {
        grid-area: 3 / 2 / 4 / 3;
    }

    .main__section:nth-child(5) {
        grid-area: 2 / 1 / 5 / 2;
    }

    .main__section:nth-child(6) {
        grid-area: 5 / 1 / 7 / 2;
        padding-bottom: 2.5rem;
    }

    .main__section:nth-child(7) {
        grid-area: 4 / 2 / 5 / 3;
    }

    .main__section:nth-child(8) {
        grid-area: 5 / 2 / 6 / 3;
    }

    .main__section:nth-child(9) {
        grid-area: 6 / 2 / 7 / 3;
    }

    .main__section:nth-child(1),
    .main__section:nth-child(3),
    .main__section:nth-child(4),
    .main__section:nth-child(7),
    .main__section:nth-child(8),
    .main__section:nth-child(9) {
        padding: 0 .5rem 0 .5rem;
        background-color: #ECECEC;
    }

    .main__section-image {
        display: block;
        margin: 1.5rem auto;
    }

    .main__section-title--font {
        padding-top: 2.5rem;
    }
}